:root {
    --gray: #707070;
    --white: #FFFFFF;
    --white-2: #F8F8F8;
    --orange: #E06B0B;
    --black: #000000;
    --black-2: #333333;
    --blue: #8FCCE1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden{
    display:none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black);
}
a{
    color: black;
}

.topbar .row {
    width: 80%;
}

.top_nav ul {
    font-size: 10px;
    font-weight: bold;
}

.top_nav ul li {
    padding: 0rem 8px;
    border-right: 2px solid black;
    line-height: 8px;
}

.top_nav ul :nth-child(6) {
    border: transparent !important;
}

.top_nav ul :last-child {
    background-color: #d1722d;
    color: var(--white);
    padding: 2px 7px;
    font-size: 15px;
    font-weight: normal;
    border: transparent !important;
}

.main_nav {
    background-color: var(--white);
    padding: 18px 22px 6px 18px;
}

.main_nav ul {
    font-size: 18px;
    font-weight: bold;
}

.main_nav ul li {
    border-bottom: 2px solid transparent;
}

.main_nav ul li:hover {
    cursor: pointer;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}

/* mobile nav style  */
.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--orange) !important;
    font-weight: bold !important;
}

.mobile_nav .nav-link {
    padding: 2px 12px !important;
}

/* mobile nav style end  */

/* student_futures start here  */

.student_futures>div {
    margin-top: 6px;
    padding: 8px;
    border: 1px solid var(--black);
}

.student_futures h5 {
    color: var(--orange);
}

.student_futures ul {
    color: var(--black-2);
    font-size: 12px;
    font-weight: bold;
}

/* work_placements start here  */

.work_placements>div {
    padding: 8px;
    background-color: var(--white);
}

.work_placements ol {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    list-style-type: none;
}

.work_placements ol li a {
    text-decoration: none;
    color: var(--black-2);
}

/* work_placement_data start here  */
.work_placement_data h5 {
    color: var(--blue);
    font-weight: bold;
}

.work_placement_data>div>img {
    height: 240px;
    width: 400px;
    object-fit: cover;
}

/* Section A start here  */
.section_A h3 {
    color: var(--orange);
    margin: 0px;
}

.section_A a {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    text-decoration: none;
}

/* Section B start here  */
.section_B h3,
.section_B h6 {
    color: var(--orange);
    margin: 0px;
}

.section_B a {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    text-decoration: none;
}

/* Section D start here  */
.section_D h3,
.section_D h6 {
    color: var(--orange);
    margin: 0px;
}

.section_D a {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    text-decoration: none;
}

/* Section E start here  */
.section_E h3,
.section_E h6 {
    color: var(--orange);
    margin: 0px;
}

.section_E a {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    text-decoration: none;
}

/* Section F start here  */
.section_F h3 {
    color: var(--orange);
    margin: 0px;
}

.section_F a {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    text-decoration: none;
}

/* Last Section */
.last {
    background-color: var(--blue);
    padding-top: 80px;
    padding-bottom: 80px;
}

.last .row .row {
    row-gap: 80px;
}

.last h1 {
    color: var(--white);
    position: relative;
}

.last h1::after {
    content: '';
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 220px;
    background-color: var(--orange);
}

.last button {
    background-color: var(--black);
    padding: 12px 32px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.last p {
    font-size: 18px;
    font-weight: 500;
}

.last i,
.last svg {
    font-size: 28px
}

/* Mini Section */
.mini {
    padding-top: 20px;
    padding-bottom: 12px;
}

.mini .row {
    width: 92%;
    margin: auto;
}

.mini span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 700;
}

.mini li {
    font-size: 24px;
    font-weight: 700;
}

/* Footer Section */
.my-footer {
    background-color: var(--black);
    padding-top: 60px;
    padding-bottom: 60px;
}

.my-footer .row {
    width: 96%;
    margin: auto;
}

.my-footer h1 {
    color: var(--orange);
    margin-bottom: 20px;
}

.my-footer li {
    color: white;
}

.footer-b {
    border-top: 1px solid white;
    padding-top: 20px;
}


/* Right Hand Page */
.right-1 {
    width: 84%;
    margin: auto;
    padding-bottom: 12px;
}

.right-1 h1 {
    color: var(--blue);
    text-align: center;
    font-size: 20px;
}

.right-1 img {
    display: block;
    margin: auto;
}

.right-1 button {
    width: 100%;
    background-color: var(--orange);
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-top: 12px;
}

@media (max-width:768px) {
    .side-1 {
        display: none;
    }

    .section_A a {
        font-size: 14px;
        display: block;
        padding: 12px;
    }

    .last .row .row {
        row-gap: 28px;
    }

    .last {
        background-color: var(--blue);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .my-footer h1 {
        border-bottom: 2px solid white;
    }

    .footer-b {
        border-top: none;
    }

    .footer-b li {
        border-bottom: 1px solid white;
    }
    
    .mini .row {
        width: 96%;
        margin: auto;
    }
    
    .mini li {
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.4);
        border-top: 1px solid rgba(0, 0, 0, 0.4);
    }
}